<h1>Show Sheet</h1>

<ul>

  <li>
    <strong>Total hours:</strong>
    <%= @sheet.total_hours %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.sheet_path(@conn, :edit, @sheet) %></span>
<span><%= link "Back", to: Routes.sheet_path(@conn, :index) %></span>
