<div class="row">
  <div class="col-12">
    <h1>Welcome to the ACME Timesheet App</h1>
    <%= if @current_user do %>
    <% IO.inspect @current_user %>
            User: <%= @current_user.name %>
            (<%= link("Sheets", to: Routes.sheet_path(@conn, :index)) %>)
          <% else %>
            <%= link("Login", to: Routes.session_path(@conn, :new)) %>
            <br/>
            <%= link "Register", to: Routes.user_path(@conn, :new) %>
    <% end %>
  </div>
</div>
